<table class="table">
    <thead>
        <tr>
            <th scope="col">FilmID</th>
            <th scope="col">Film Title</th>
            <th scope="col">SimilarFilmID</th>
            <th scope="col">Similarfilm Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(item.FilmId)</th>
                <td>@(item.Film?.Title)</td>
                <td>@(item.SimilarFilmId)</td>
                <td>@(item.Similar?.Title)</td>
                <td>                    
                    <button type="button" class="btn btn-outline-danger rounded-0 me-1" @onclick="@( async () => await OnClick.InvokeAsync(
                        new ClickRefModel<SimilarFilmsDTO>(PageType.Delete, item)))">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter] public List<SimilarFilmsDTO> Model { get; set; }
    [Parameter] public EventCallback<ClickRefModel<SimilarFilmsDTO>> OnClick { get; set; }
}
